In [14]:
for i in range(6):
  for j in range(i):
    print("*", end=" ")
  print()

for i in range(4):
  for j in range(4,i,-1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(my_list),2):
  print(my_list[i])

20
40
60
80
100

In [17]:
x = [23, "Python", 23.98]
l = [type(i) for i in x]
print(l)

[<class 'int'>, <class 'str'>, <class 'float'>]

In [19]:
a = [1,2,3,3,3,3,4,5]
print(list(set(a)))

[1, 2, 3, 4, 5]

In [21]:
s = 'The quick Brow Fox'.replace(" ", "")
l = 0
u = 0
for i in s:
      if(i.islower()):
            l+=1
      else:
            u+=1
print("No. of Upper-case characters: " + str(u))
print("No. of Lower-case characters: " + str(l))

No. of Upper-case characters: 3
No. of Lower-case characters: 12